@model LabSem3.Models.Lab

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-weight: bold;">Delete Lab</h2>

<h3 style="color: red;">Are you sure you want to delete this?</h3>
<div>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Account Email
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Account.Email
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Department Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Department.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td class="text-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="color:aliceblue;" type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-default bg-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
